.posterSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 316px;
  background: url('/images/shop/ShopPoster.png') no-repeat;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.shopTitle {
  color: #000;
  font-size: 48px;
  font-weight: 500;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.link {
  margin-top: 2px;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}