@use '../../assets/styles/colors.scss' as colors;
@use '../../assets/styles/variables.scss' as vars;
@use '../../assets/styles/functions.scss' as *;

.roomsInspiration {
  min-height: 670px;
  display: flex;
  align-items: center;
}

.roomsContainer {
  width: 100%;
  align-items: center;
  display: flex;
  gap: toRem(42px);
  margin-bottom: toRem(67px);
  background: colors.$color-background-secondary;
  height: 680px;
}

.roomsInformation {
  margin-left: toRem(100px);
  width: 100%;
  max-width: toRem(450px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: toRem(10px);
}

.roomsBanner {
  position: relative;
  background: url('/images/rooms/roomsBanner.svg') no-repeat center center;
  width: 100%;
  max-width: 405px;
  height: 582px;
  margin-left: 24px;
}

.roomsTitle {
  color: colors.$color-dark;
  font-size: vars.$heading-tertiary-size;
  font-weight: 700;
  line-height: 120%;
}

.roomsSubTitle {
  width: 100%;
  max-width: 368px;
  color: colors.$color-gray-tertiary;
  font-weight: 500;
  line-height: 150%;
}

.exploreButton {
  color: colors.$color-background;
  background: colors.$color-tertiary;
  padding: toRem(16px) toRem(32px);
  width: 100%;
  max-width: 176px;
  margin-top: toRem(15px);
  font-weight: 600;
  line-height: 150%;
}

.innerPeace {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  gap: toRem(10px);
  bottom: 24px;
  left: 24px;
  backdrop-filter: blur(3px);
  background: rgba(255, 255, 255, 0.72);
  width: 100%;
  max-width: toRem(255px);
  height: toRem(150px);
}

.innerTitle {
  font-weight: 600;
  line-height: 120%;
  color: colors.$color-dark;
  font-size: vars.$card-heading-secondary-size;
}

.innerLine {
  display: block;
  width: 27px;
  height: 1px;
  background: colors.$color-gray-tertiary;
}

.innerSubTitle {
  display: flex;
  align-items: center;
  gap: toRem(10px);
  color: colors.$color-gray-tertiary;
  font-weight: 500;
  line-height: 150%;
}

.innerButton {
  position: absolute;
  bottom: 24.5px;
  left: 247px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 48px;
  height: 48px;
  background: colors.$color-tertiary;
}
