@use '../../assets/styles/colors.scss' as colors;
@use '../../assets/styles/variables.scss' as vars;
@use '../../assets/styles/functions.scss' as *;

.productInfo {
  width: 100%;
  max-width: 610px;
}

.infoBlock {
  display: flex;
  flex-direction: column;
  gap: toRem(20px);
}

.infoTitles {
  display: flex;
  flex-direction: column;
  gap: toRem(8px);
}

.infoTitle {
  font-size: vars.$product-heading-size;
}
.infoPriceSubTitle {
  font-weight: 500;
  font-size: vars.$card-heading-size;
  color: colors.$color-gray-light;
}

.infoRatingDescriptionBlock {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.infoRatingBlock {
  display: flex;
  align-items: center;
  position: relative;
}

.centeredElement {
  width: 30px;
  height: 1.5px;
  transform: rotate(90deg);
  background: colors.$color-gray-light;
}

.review {
  font-size: vars.$subheading-small-size;
  color: colors.$color-gray-light;
}

.infoDescriptionTitle {
  line-height: 140%;
  text-align: justify;
  font-size: vars.$subheading-small-size;
  max-width: 400px;
}

.detailInfo {
  padding-top: toRem(40px);
  display: flex;
  flex-direction: column;
  gap: toRem(15px);
}

.detailTitleBlock {
  display: flex;
  align-items: center;
  gap: toRem(61px);
  color: colors.$color-gray-light;
}

.detailTitle {
  display: flex;
  align-items: center;
  color: colors.$color-gray-light;
}

.detailShareMedias {
  display: flex;
  align-items: center;
  gap: toRem(61px);
  color: colors.$color-gray-light;
}

.mediaBlockItem {
  background: transparent;
}

.mediaBlockItems {
  display: flex;
  align-items: center;
  gap: toRem(25px);
}

.shortTitle {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 50px;
  position: relative;
  &::after {
    content: ':';
    position: absolute;
    left: 85px;
  }
}
