$color-primary: #000000;
$color-secondary: #333333;
$color-tertiary: #b88e2f;
$color-background: #ffffff;
$color-muted: #666666;
$color-dark: #3a3a3a;
$color-accent-red: #e97171;
$color-accent-green: #2ec1ac;
$color-gray-primary: #898989;
$color-gray-secondary: #b0b0b0;
$color-gray-tertiary: #616161;
$color-gray-light: #9f9f9f;
$color-gray-light-two: #d8d8d8;
$color-background-secondary: #fcf8f3;
$color-background-tertiary: #fff3e3;
$color-background-fourth: #f9f1e7;
$color-background-dark: rgba($color-primary, 0.2);
