@use './reset.scss';
@use './colors.scss' as colors;
@use './variables.scss' as vars;
@use './functions.scss' as *;


* {
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
  min-height: 100vh;
}
